/* FAQ.css */

.faq-container {
  display: flex;
  flex-direction: column;
}

.faq-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.faq-item.active {
 
}

.faq-question {
  color: rgb(20, 20, 58)
}

.faq-answer {
  display: none;
}

.faq-answer.visible {
  display: block;
  margin-top: 5px;
}

.accordion-icon {
  float: right;
  font-weight: bold;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: rgb(20, 20, 58);
  color: white;
  transition: transform 0.3s;
}

.accordion-icon:hover {
  background-color: rgb(76, 157, 197);
  color: white;
}

.accordion-icon.expanded {
  transform: rotate(-180deg);
}

/* Add padding to the question for icon spacing */
.faq-question {
  padding-right: 40px;
}



@media (min-width:280px) {
  .faq-image{
    height: 100px;
    width: 100%;
}

.faq-container {
  padding: 10px;
 }
 .faq-item {
  margin-bottom: 30px;
}

 .faq-question {
  font-size: 15px;
}

 .faq-desc{
   margin-top: 30px;
   margin-bottom: 15px;
   margin-left: 10px;
   font-size: 30px;
   font-weight: bold;
 }

 .faq-answer {
   padding: 20px;
   color: rgb(76, 157, 197);
 }
 .accordion-icon {
 position: relative;
 bottom: 15px;
 left: 30px;
}
  
  
   
}
  

@media (min-width:350px) and (max-width: 480px) {

  .faq-image{
      height: 100%;
      width: 100%;
  }

  .faq-container {
    padding: 10px;
   }
   .faq-item {
    margin-bottom: 30px;
  }

   .faq-question {
    font-size: 15px;
  }
 
   .faq-desc{
     margin-top: 30px;
     margin-bottom: 15px;
     margin-left: 10px;
     font-size: 30px;
     font-weight: bold;
   }
 
   .faq-answer {
     padding: 20px;
     color: rgb(76, 157, 197);
   }
   .accordion-icon {
   position: relative;
   bottom: 15px;
   left: 30px;
  }
 
}
  

@media screen and (min-width: 481px) and (max-width: 767px) {
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .faq-container {
   margin: 100px;
  }
  .faq-item {
    margin-bottom: 20px;
  }

  .faq-desc{
    margin-top: 40px;
     font-size: 30px;
     font-weight: bold;
  }

  .faq-answer {
    padding: 20px;
    color: rgb(76, 157, 197);
  }
  

}

@media screen and  (min-width: 1281px) {
  .faq-container {
    margin: 100px;
   }
   .faq-item {
    margin-bottom: 30px;
  }
 
   .faq-desc{
     margin-top: 40px;
     font-size: 30px;
     font-weight: bold;
   }
 
   .faq-answer {
     padding: 20px;
     color: rgb(76, 157, 197);
   }
}


