.background-image {
  background-image: url('../../../images/pages/HomePicture.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh; /* Adjust as needed */
}

.hero-header{
  font-weight: bold;
  color: rgb(20, 20, 58);
}



  .btn-hero-one,
  .btn-hero-two {
    border-radius: 10px;
    border: none;
    background-color: rgb(20, 20, 58);
    color: #fff;
    cursor: pointer;
   
   
  }

  .btn-text{
    font-weight: bold;
  }

  .partners-img {
    display: flex;
    justify-content: center;
}

.partners-img img {
    max-width: 100%;
    margin: 5px;
}

@media (min-width:280px) {
  .background-image {
    background-image: url('../../../images/pages/newhero.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh; /* Adjust as needed */
  }

  .container-fluid-hero{
    width: 100%;
  }

  .hero-header {
    font-size: 20px;
    margin: 50px 10px 10px 10px;
    width: 100%;
  }


  .hero-desc{
    padding-left: 20px;
    padding-top: 10px;
    width: 80%;
  }

  .btn-text{
    font-size: 14px;
  }
  .btn-crow{
    width: 100%;
    padding-left: 23px;
  }
  .btn-hero-one{
    background-color: rgb(20, 20, 58);
    padding: 20px 40px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .btn-hero-two {
    background-color: rgb(20, 20, 58);
    padding: 20px 25px;
    border-radius: 4px; 
    margin-bottom: 45px;
  }


  .partners{
    text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
.partners-hero-img img {
   
  max-width: 25%;
    margin: 0px 5px 35px 50px;
}


 
}
  

@media (min-width:350px) and (max-width: 480px) {

  .background-image {
    background-image: url('../../../images/pages/newhero.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 170vh; /* Adjust as needed */
  }


  .container-fluid-hero{
    overflow: hidden;
    width: 100%;
  }
  .hero-header {
    padding: 30px 30px 30px 15px;
    font-size: 45px;
    margin: 10px 10px;
    width: 85%;
  }
  .hero-desc{
    width: 80%;
    padding-left: 25px;
    margin-bottom: 60px;
    font-size: 20px;
  }

  .btn-crow{
    padding-left: 25px;
  }
  .btn-text{
    font-size: 20px;
  }
  .btn-hero-one{
    background-color: rgb(20, 20, 58);
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }
  
  .btn-hero-two {
    background-color: rgb(20, 20, 58);
    width: 100%;
  }


  .partners{
    text-align: center;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 10px;
    
}
.partners-hero-img img {
  width: 25%;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
/* .partners-hero-img img {
   
  max-width: 40%;
    margin: 10px auto 10px 35px;
} */

 
}
  

@media screen and (min-width: 481px) and (max-width: 767px) {

  .background-image {
    
    height: 150vh; /* Adjust as needed */
  }

  .container-fluid-hero{
    width: 98.7%;
  }
   .hero-header {
    padding: 10px;
    font-size: 65px;
    margin: 20px;
    width: 70%;
  }

  .hero-desc{
    margin: 30px;
  }

  .button-container {
    display: flex; 
    width: 80%;
    margin-left: 30px;
    flex-direction: row;
    
    
  }

  .btn-hero-one,
  .btn-hero-two {
    flex-direction: row;
    margin-left: 2px;
    padding: 25px 25px;
    margin-top: 30px;
   
  }

  .hero-desc{
    font-size: 25px;
  }
  .btn-text{
    font-size: 20px;
  }

  .partners{
    font-size: 30px;
    text-align: center;
   
  }

  
.partners-img img {
    max-width: 20%;
    margin: 20px;
}
}


@media (min-width: 768px) and (max-width: 998px) {

  .background-image {
    
    height: 150vh; /* Adjust as needed */
  }

  .container-fluid-hero{
    width: 99%;
  }
   .hero-header {
    padding: 10px;
    font-size: 50px;
    margin: 20px;
    width: 70%;
    color: red;
  }

  .hero-desc{
    margin: 30px;
    font-size: 30px;
    width: 80%;
  }

  .button-container {
    display: flex; 
    width: 80%;
    margin-left: 2px;
    flex-direction: row;
    
    
  }

  .btn-hero-one,
  .btn-hero-two {
    flex-direction: row;
    margin-left: 2px;
    padding: 30px 30px;
    margin-top: 30px;
   
  }

 
  .btn-text{
    font-size: 25px;
  }

  .partners{
    font-size: 40px;
    text-align: center;
   
  }

  
.partners-img img {
   max-width: 20%;
padding-left: 22px;
padding-right: 60px;
margin: 5px;
}
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

    .background-image {  
    
      height: 130vh; /* Adjust as needed */
    }
  

  .container-fluid-hero{
    width: 99.2%;
  }
   .hero-header {
    padding: 10px;
    font-size: 70px;
    margin: 150px 40px 20px 40px;
    width: 55%;
  }

  .hero-desc{
    padding: 30px  30px  50px  50px;
    font-size: 25px;
    width: 68%;
  }

  .btn-crow{
    width: 60%;
    padding-left: 50px;
  }
  .btn-hero-one{
    background-color: rgb(20, 20, 58);
    padding: 20px 32px;
    border-radius: 4px;
    margin-top: 1px;
  }
  
  .btn-hero-two {
    background-color: rgb(20, 20, 58);
    padding: 20px 12px;
    border-radius: 4px; 
  }

  .btn-hero-one:hover {
    background-color: rgb(76, 157, 197);
  }

  .btn-hero-two:hover {
    background-color: rgb(76, 157, 197);
  }

 
  .btn-text{
    font-size: 20px;
  }

  .partners{
    font-size: 20px;
    text-align: center;
    margin-top: 330px;
   
  }

  
  .partners-hero-img img {
  
    max-width: 5%;
    margin: 10px 10px 10px 115px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1442px) {

  .background-image {
  
    height: auto; /* Adjust as needed */
  }


.container-fluid-hero{
  width: 99.2%;
}
 .hero-header {
  padding: 10px;
  font-size: 70px;
  margin: 150px 40px 20px 40px;
  width: 55%;
}

.hero-desc{
  padding: 30px  30px  50px  50px;
  font-size: 25px;
  width: 55%;
}

.btn-crow{
  width: 60%;
  padding-left: 50px;
}
.btn-hero-one{
  background-color: rgb(20, 20, 58);
  padding: 20px 60px;
  border-radius: 4px;
  margin-top: 1px;
}

.btn-hero-two {
  background-color: rgb(20, 20, 58);
  padding: 20px 45px;
  border-radius: 4px; 
}

.btn-hero-one:hover {
  background-color: rgb(76, 157, 197);
}

.btn-hero-two:hover {
  background-color: rgb(76, 157, 197);
}


.btn-text{
  font-size: 20px;
}

.partners{
  font-size: 20px;
  text-align: center;
  margin-top: 150px;
 
}


.partners-hero-img img {

  max-width: 5%;
  margin: 10px 10px 10px 115px;
}
}

@media screen and  (min-width: 1443px) {

  .background-image {
    
    height: auto; /* Adjust as needed */
  }

  .container-fluid-hero{
    width: 99.2%;
  }
   .hero-header {
    padding: 25px;
    font-size: 70px;
    width: 55%;
    margin-top: 30px;
    margin: 80px 40px 10px 25px;
  }

  .hero-desc{
    padding: 25px;
    margin: 1px  30px  50px  30px;
    font-size: 25px;
    width: 55%;
  }

  .btn-crow{
    width: 50%;
    padding-left: 50px;
   
    
   
  }
  .btn-hero-one{
    background-color: rgb(20, 20, 58);
    padding: 20px 50px;
    border-radius: 4px;
    margin-top: 1px;
    margin-bottom: 400px;
  }
  
  .btn-hero-two {
    background-color: rgb(20, 20, 58);
    padding: 20px 20px;
    border-radius: 4px;
  }

  .btn-hero-one:hover {
    background-color: rgb(76, 157, 197);
  }

  .btn-hero-two:hover {
    background-color: rgb(76, 157, 197);
  }
 
  .btn-text{
    font-size: 10px;
  }

  .partners{
    font-size: 20px;
    text-align: center;
    margin-top: -150px;
   
  }

  
.partners-hero-img img {

  max-width: 5%;
    margin: -130px 10px 10px 160px;
}
}

