.background-image-copy {
  background-image: url('../../images/pages/copywritinghero.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh; /* Adjust as needed */
}

.hero-header-copy{
  font-weight: bold;
  color: rgb(20, 20, 58);
}



  .btn-hero-one-copy,
  .btn-hero-two-copy {/* Add space between buttons */
    border-radius: 10px;
    border: none;
    background-color: rgb(20, 20, 58);
    color: #fff;
    cursor: pointer;
   
   
  }

  .btn-text-copy{
    font-weight: bold;
  }


  @media (min-width:280px) {
    .container-fluid-hero-copy{
      width: 96%;
    }
  
    .hero-header-copy {
      font-size: 33px;
      margin: 30px 10px 10px 10px;
      width: 100%;
    }
  
  
    .hero-desc-copy{
      padding-left: 1px;
    }
  
    .btn-crow-copy{
      width: 100%;
      padding-left: 20px;
    }
    .btn-hero-one-copy{
      background-color: rgb(20, 20, 58);
      padding: 20px 50px;
      border-radius: 4px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    .btn-hero-two-copy {
      background-color: rgb(20, 20, 58);
      padding: 20px 72px;
      border-radius: 4px; 
      margin-bottom: 20px;
    }
  
  
  
   
  }
    
  
  @media (min-width:350px) and (max-width: 480px) {
  
  
    .container-fluid-hero-copy{
      width: 97.5%;
    }
    .hero-header-copy {
      padding: 60px 30px 30px 15px;
      font-size: 45px;
      margin: -10px 10px;
      width: 100%;
    }
    .hero-desc-copy{
      width: 90%;
      padding-left: 25px;
      margin-bottom: 40px;
      margin-top: 20px;
    }
  
    .btn-crow-copy{
      padding-left: 25px;
    
      
    }
    .btn-hero-one-copy{
      background-color: rgb(20, 20, 58);
      margin-bottom: 10px;
      margin-top: 10px;
      width: 100%;
    }
    
    .btn-hero-two-copy {
      background-color: rgb(20, 20, 58);
      width: 100%;
    }
  

   
  }
    
  
  @media screen and (min-width: 481px) and (max-width: 767px) {
  
    .background-image-copy {
      
      height: 150vh; /* Adjust as needed */
    }
  
    .container-fluid-hero-copy{
      width: 98.7%;
    }
     .hero-header {
      padding: 10px;
      font-size: 65px;
      margin: 20px;
      width: 70%;
    }
  
    .hero-desc-copy{
      margin: 30px;
    }
  
    .button-container {
      display: flex; 
      width: 80%;
      margin-left: 30px;
      flex-direction: row;
      
      
    }
  
    .btn-hero-one-copy,
    .btn-hero-two-copy {
      flex-direction: row;
      margin-left: 2px;
      padding: 25px 25px;
      margin-top: 30px;
     
    }
  
    .hero-desc-copy{
      font-size: 25px;
    }
    .btn-text{
      font-size: 20px;
    }
  
    
  }
  
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
  
    .background-image-copy {
      
      height: 150vh; /* Adjust as needed */
    }
  
    .container-fluid-hero-copy{
      width: 99%;
    }
     .hero-header {
      padding: 10px;
      font-size: 70px;
      margin: 20px;
      width: 70%;
    }
  
    .hero-desc-copy{
      margin: 30px;
      font-size: 30px;
      width: 80%;
    }
  
    .button-container {
      display: flex; 
      width: 80%;
      margin-left: 2px;
      flex-direction: row;
      
      
    }
  
    .btn-hero-one-copy,
    .btn-hero-two-copy {
      flex-direction: row;
      margin-left: 2px;
      padding: 30px 30px;
      margin-top: 30px;
     
    }
  
   
    .btn-text{
      font-size: 25px;
    }
  
    
  }
  
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
  
    .background-image-copy {
      
      height: 160vh; /* Adjust as needed */
    }
  
    .container-fluid-hero-copy{
      width: 99.2%;
    }
     .hero-header-copy {
      padding: 10px;
      font-size: 70px;
      margin: 30px 40px -10px 40px;
      width: 70%;
    }
  
    .hero-desc-copy{
      padding: 30px 30px 30px 50px;
      font-size: 25px;
      width: 80%;
    }
  
    .btn-crow-copy{
      width: 50%;
      padding-left: 50px;
    }
    .btn-hero-one-copy{
      background-color: rgb(20, 20, 58);
      padding: 20px 32px;
      border-radius: 4px;
      margin-top: 1px;
    }
    
    .btn-hero-two-copy {
      background-color: rgb(20, 20, 58);
      padding: 20px 32px;
      border-radius: 4px; 
    }
  
    .btn-hero-one-copy:hover {
      background-color: rgb(76, 157, 197);
    }
  
    .btn-hero-two-copy:hover {
      background-color: rgb(76, 157, 197);
    }
  
   
    .btn-text-copy{
      font-size: 20px;
    }
  
  
  }
  
  @media screen and  (min-width: 1281px) {
  
    .background-image-copy {
      
      height: 160vh; /* Adjust as needed */
    }
  
    .container-fluid-hero-copy{
      width: 99.2%;
    }
     .hero-header-copy {
      padding: 40px;
      font-size: 70px;
      width: 70%;
      margin-top: 30px;
      margin: 30px 40px -15px 25px;
    }
  
    .hero-desc-copy{
      padding: 5px 40px 40px 40px;
      margin: 30px;
      font-size: 25px;
      width: 80%;
    }
  
    .btn-crow-copy{
      width: 50%;
      padding-left: 70px;
    }
    .btn-hero-one-copy{
      background-color: rgb(20, 20, 58);
      padding: 20px 32px;
      border-radius: 4px;
      margin-top: 1px;
    }
    
    .btn-hero-two-copy {
      background-color: rgb(20, 20, 58);
      padding: 20px 32px;
      border-radius: 4px;
    }
  
    .btn-hero-one-copy:hover {
      background-color: rgb(76, 157, 197);
    }
  
    .btn-hero-two-copy:hover {
      background-color: rgb(76, 157, 197);
    }
   
    .btn-text{
      font-size: 25px;
    }
  }
  