/* Navbar */
.navbar {
  margin-bottom: 30px;
}
.navbar-container{
  color: rgb(41, 41, 98);
  font-weight: bold;
}
.navbar-items{
  color: rgb(41, 41, 98);
}
/* Logo Styling */
.navbar-brand img {
  max-width: 100%;
  height: auto;

}

/* Social Icons */
.nav-link-with-bg {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally center the content */
  width: 60px; /* Adjust the width and height for your circular link */
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
  background-color: rgb(20, 20, 58);
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.social-icon {
  font-size: 30px; /* Adjust the font size for your icon */
}


.nav-link-with-bg:hover {
  background-color: #4267b2; 
}


.close-icon {
  display: none;
  font-size: 24px;
  margin-left: 10px;
  color: red; /* Set the color to red */
}

.navbar-toggler-custom.active .navbar-toggler-icon {
  display: none;
}

.navbar-toggler-custom.active .close-icon {
  display: block;
}

.services-dropdown-content {
  display: flex;
  flex-direction: row;
}

.service-section {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}


/* Adjustments for Mobile Devices */
@media (max-width: 280px) {
  .navbar {
    margin-bottom: 10px;
    margin-right: 3px;
  }
  .navbar-brand img {
    max-width: 50%;
  }
  
  .navbar-expand-lg .navbar-toggler {
    color: white;
    border-color: white;
  }

  .navbar-brand img {
    width: 300px;
  }
  .navbar-items{
    font-size: 20px;
  }
  .navbar-container{
    background-image: url('../../images/pages/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top -6px;
    background-attachment: scroll;
    height: 80px; 
    display: flex;
    justify-content: space-between; 
    font-size: 2.2rem;
    position: sticky; 
    top: 0; 
    z-index: 100; 
  }

  .all-navbar{
    display: flex;
    justify-content:space-between;
    margin-right: 10px;
    background-color: rgb(20, 20, 58);
    margin-top: -13px;
  }

  .navbar-items{
    margin-left: 80px;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    color: white;
    
  }
  

  /* .nav-link-with-bg { 
    width: 80px; 
    height: 80px;
    display: flex; 
    flex-direction: column;
  }  */
  
.close-icon {
  display: none;
  font-size: 34px;
  font-weight: bold;
  margin-right: 20px;
  color: red; 
  text-align: center;/* Set the color to red */
}

.services-dropdown-content {
  background-color: rgb(20, 20, 58);
  width: 600;
  height: 340px;
  position: absolute;
  margin-top: -7px;
  margin-left: -260px;
   }
 
   .service-drophead{
     color: rgb(76, 157, 197);
     font-weight: bold;
     margin: 20px;
   }
 
   .service-dropdetails{
     margin-left: 20px;
     color: white;
   }
 
   .service-dropdetails:hover{
     color: rgb(76, 157, 197);
     background-color: transparent
   }
}

@media (min-width:350px) and (max-width: 480px) {
  .navbar {
    margin-bottom: -1px;
  
  }

  .navbar-brand img {
    width: 280px;
    position: relative;
    bottom: 10px;
    right: 15px;
  }

  .navbar-container .services-dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 58); /* Adjust the background color as needed */
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
  }

  .navbar-container .services-dropdown-content .service-section {
    margin-bottom: 10px;
    color: white;
  }

  .navbar-container .services-dropdown-content .service-drophead {
    font-weight: bold;
    padding: 5px 0;
    color: rgb(76, 157, 197);
  }
  .navbar-container .services-dropdown-content .service-dropdetails {
    padding: 1px 0;
    height: 25px;
    background-color: none;
    color: white; /* Adjust the color as needed */
  }
   
   .navbar-items{
    margin-left: 3px;
    margin-bottom: 60px;
    align-items: center;
    text-align: center;
  }
  
.close-icon {
  display: none;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  color: red; 
  text-align: center;
}


.social-icons-container {
  margin-left: -105px; 
  margin-top: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}
.nav-link-with-bg-footer {
  background-color: rgb(20, 20, 58); /* Background color */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 80%; /* Rounded background */
  margin-right: 20px; /* Add spacing between links */
  transition: background-color 0.3s ease; /* Transition effect */
  display: flex;
  align-items: center;
  justify-content: center;
}
}

@media (min-width:481px) and (max-width: 767px) {
  .navbar {
    margin-bottom: -2px;
  }   

  .navbar-brand img {
    width: 300px;
  }
  .navbar-items{
    font-size: 20px;
  }
  .navbar-container{
    background-image: url('../../images/pages/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top -6px;
    background-attachment: scroll;
    height: 80px; 
    display: flex;
    justify-content: space-between; 
    font-size: 2.2rem;
    position: sticky; 
    top: 0; 
    z-index: 100; 
  }

  .all-navbar{
    display: flex;
    justify-content:space-between;
    margin-right: 10px;
    background-color: rgb(20, 20, 58);
  }

  .navbar-items{
    margin-left: 200px;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    color: white;
    
  }
  

  /* .nav-link-with-bg { 
    width: 80px; 
    height: 80px;
    display: flex; 
    flex-direction: column;
  }  */
  
.close-icon {
  display: none;
  font-size: 34px;
  font-weight: bold;
  margin-right: 20px;
  color: red; 
  text-align: center;/* Set the color to red */
}
  .services-dropdown-content {
 background-color: rgb(20, 20, 58);
 width: 600;
 height: 340px;
 position: absolute;
 margin-top: -7px;
 margin-left: -260px;
  }

  .service-drophead{
    color: rgb(76, 157, 197);
    font-weight: bold;
    margin: 20px;
  }

  .service-dropdetails{
    margin-left: 20px;
    color: white;
  }

  .service-dropdetails:hover{
    color: rgb(76, 157, 197);
    background-color: transparent
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    margin-bottom: -2px;
  
  }  
  .navbar {
    margin-bottom: -2px;
  
  }   
  .navbar-brand img {
    width: 300px;
  }
  .navbar-items{
    font-size: 20px;
  }
  .navbar-container{
    background-image: url('../../images/pages/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top -6px;
    background-attachment: scroll;
    height: 80px; 
    display: flex;
    justify-content: space-between; 
    font-size: 2.2rem;
    position: sticky; 
    top: 0; 
    z-index: 100; 
  }

  .all-navbar{
    display: flex;
    justify-content:space-between;
    margin-right: 10px;
    background-color: rgb(20, 20, 58);
    margin-top: -13px;
  }

  .navbar-items{
    margin-left: 430px;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    color: white;
  }

  .nav-link-with-bg { /* Horizontally center the content */
    width: 40px; /* Adjust the width and height for your circular link */
    height: 40px;
  } 
  .services-dropdown-content {
    background-color: rgb(20, 20, 58);
    width: 600;
    height: 340px;
    position: absolute;
    margin-top: -7px;
    margin-left: -220px;
     }
   
     .service-drophead{
       color: rgb(76, 157, 197);
       font-weight: bold;
       margin: 20px;
     }
   
     .service-dropdetails{
       margin-left: 20px;
       color: white;
     }
   
     .service-dropdetails:hover{
       color: rgb(76, 157, 197);
       background-color: transparent
     }
  
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .navbar {
    margin-bottom: -2px;
  
  }   
  .navbar-brand img {
    width: 340px;
    margin-left: 10px;
  }
  .navbar-items{
    margin-left: 30px;
    font-size: 16px;
  }
  .navbar-container{
    background-image: url('../../images/pages/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top -10px;
    background-attachment: scroll;
    height: 90px; 
    display: flex;
    justify-content: space-between; 
    font-size: 2.2rem;
    position: sticky; 
    top: 0; 
    z-index: 100; 
  }

  .all-navbar{
    display: flex;
    justify-content:space-between;
    margin-right: 35px;
  }


  .nav-link-with-bg { 
    width: 40px; 
    height: 40px;
  } 
  .services-dropdown-content {
    background-color: rgb(20, 20, 58);
 width: 600;
 height: 400px;
 position: absolute;
 margin-top: -7px;
 margin-left: -260px;
  }

  .service-drophead{
    color: rgb(76, 157, 197);
    font-weight: bold;
    margin: 20px;
  }
  .service-drophead:hover{
    color: white;
    background-color: transparent
  }
  

  .service-dropdetails{
    margin-left: 20px;
    color: white;
    font-size: 15px;
   
  }

  .service-dropdetails:hover{
    color: rgb(76, 157, 197);
    background-color: transparent
  }
  
}

@media screen and  (min-width: 1281px) {
  .navbar {
    margin-bottom: -2px;
  
  }   
  .navbar-brand img {
    width: 400px;
  }
  .navbar-items{
    font-size: 20px;
  }
  .navbar-container{
    background-image: url('../../images/pages/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top -6px;
    background-attachment: scroll;
    height: 80px; 
    display: flex;
    justify-content: space-between; 
    font-size: 2.2rem;
    position: sticky; 
    top: 0; 
    z-index: 100; 
  }

  .all-navbar{
    display: flex;
    justify-content:space-between;
    margin-right: 20px;
  }

  .navbar-items{
    margin-left: 50px;
  }

  .nav-link-with-bg { /* Horizontally center the content */
    width: 40px; /* Adjust the width and height for your circular link */
    height: 40px;
  }

  .services-dropdown-content {
    background-color: rgb(20, 20, 58);
    width: 600;
    height: 380px;
    position: absolute;
    margin-top: -7px;
    margin-left: -260px;
     }
   
     .service-drophead{
       color: rgb(76, 157, 197);
       font-weight: bold;
       margin: 20px;
     }
     .service-drophead:hover{
      color: white;
      background-color: transparent
    }
   
     .service-dropdetails{
       margin-left: 20px;
       color: white;
     }
   
     .service-dropdetails:hover{
       color: rgb(76, 157, 197);
       background-color: transparent
     }
}
