.background-image-blog {
    background-image: url('../../images/ktnLogo/ktnImage.svg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 250);
  }

  .blog-container{
    width: 100%;
    height: auto;
  }

  .blog-img-bb:hover{
    transform: translateY(-10px);
  }

  @media (min-width:280px) {
    .background-image-blog {
        height: 30vh; 
      }
    .blog-text{
        text-align: center;
        padding: 30px;
      }

  .selected-title{
   align-items: center;
   margin-left: 30px;
  }

  .blog-headersss{
    text-align: center;
    margin-bottom: 20px;
  }

  .blog-drop{
    position: relative;
    bottom: 31px;
    left: 30px;
  }
  }
  @media (min-width:350px) and (max-width: 480px) {

    .background-image-blog {
        height: 50vh; 
      }
    .blog-text{
        text-align: center;
        padding: 30px;
      }

  .selected-title{
   align-items: center;
   margin-left: 30px;
  }

  .blog-headersss{
    text-align: center;
    margin-bottom: 20px;
  }

  .blog-drop{
    position: relative;
    bottom: 31px;
    left: 120px;
  }
   

    }
  @media screen and (min-width: 481px) and (max-width: 767px) {
    .blog-text{
        text-align: center;
        padding: 30px;
      }

  .selected-title{
   align-items: center;
   margin-left: 30px;
  }

  .blog-headersss{
    text-align: center;
    margin-bottom: 20px;
  }

  .blog-drop{
    position: relative;
    bottom: 61px;
    left: 510px;
  }
  }
  

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .blog-text{
        text-align: center;
        padding: 30px;
      }

  .selected-title{
   align-items: center;
   margin-left: 30px;
  }

  .blog-headersss{
    text-align: center;
    margin-left: 150px;
    margin-bottom: 30px;
  }

  .blog-drop{
    position: relative;
    top: 12px;
    left: 30px;
  }
}
  

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  


    .background-image-blog {
        height: 80vh; 
      }
      .blog-text{
        text-align: center;
        padding: 50px 50px 1px 50px;
        font-size: 16px;
      }

  .selected-title{
   align-items: center;
   margin-left: 30px;
  }

  .blog-container{
    overflow: hidden;
  }
  .blog-headersss{
    align-items: center;
    position: relative;
    left: 170px;
    margin-bottom: 50px;
    margin-top: 70px;
    font-size: 30px;
    
  }

  .blog-select {
    display: flex;
    padding: 20px 40px 20px 10px;
    border: 3px solid rgb(20, 20, 58);
    border-radius: 7px;
    font-size: 16px;
    color: rgb(20, 20, 58);
    background-color: #fff;
    cursor: pointer;
  }

  .blog-value  {
    font-size: 16px;
    color: rgb(20, 20, 58);
    background-color: rgb(76, 157, 197);
  }
 
  .blog-drop{
    position: relative;
    top: 50px;
    
  }
  
  .ktn-blog-text{
    font-weight: bold;
    color: rgb(20, 20, 58);
  }


}

@media screen and  (min-width: 1281px) {

  .background-image-blog {
    height: 80vh; 
  }
    .blog-text{
        text-align: center;
        padding: 50px 50px 1px 50px;
        font-size: 16px;
      }

      .blog-container{
        overflow: hidden;
      }
  .selected-title{
   align-items: center;
   margin-left: 30px;
  }

  .blog-headersss{
    text-align: center;
    margin-left: 360px;
    margin-bottom: 50px;
    margin-top: 70px;
    font-size: 30px;
  }

  
  .blog-select {
    display: inline-block;
    padding: 20px 80px 20px 10px;
    border: 3px solid rgb(20, 20, 58);
    border-radius: 7px;
    font-size: 16px;
    color: rgb(20, 20, 58);
    background-color: #fff;
    cursor: pointer;
  }

  .blog-value  {
    padding: 100px;
    font-size: 10px;
    color: rgb(20, 20, 58);
    background-color: rgb(76, 157, 197);
  }
  .blog-drop{
    position: relative;
    top: 50px;
  }
  .ktn-blog-text{
    font-weight: bold;
    color: rgb(20, 20, 58);
  }
}